# Byte-compiled
__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
store/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.venv

# Rope project settings
.ropeproject

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json
.python_packages

# vscode project settings
.vscode
*.code-workspace
.code-workspace
debug.log

# files
.DS_Store

# data files
*.gz
*.pth
*.tgz
*.pt
*.html
*.key
*.pdf
*.set
*-ubyte
files/**
cache/**
nodes/**
deleted/**
compressed/**
assets/model_cache/**
junk/**

# react-pdf modules
render/node_modules/**
designer/node_modules/**

